<div class='stats d-flex justify-content-between'>
    <div class='info'>
        <small>CPU: {{data.stats['cpu']}}%</small>
        <small>RAM: {{data.stats['ram']}}%</small>
    </div>
    <div *ngIf='data.role === "admin"' class='new-item'>
        <fa-icon (click)='manageView("manageUsers")' *ngIf='data["view"] === "devices"' [icon]='faUserCog'></fa-icon>
        <fa-icon (click)='manageView("devices")' *ngIf='data["view"] !== "devices"' [icon]='faHome'></fa-icon>
    </div>
</div>

<app-devices *ngIf='data["view"] === "devices"'></app-devices>
<app-manage-users *ngIf='data["view"] === "manageUsers"'></app-manage-users>
<app-manage-groups *ngIf='data["view"] === "manageGroups"'></app-manage-groups>
<app-manage-devices *ngIf='data["view"] === "manageDevices"'></app-manage-devices>